# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
# Airflow
logs/
airflow.cfg
airflow.db
# Docker
pgdata/
# Submission
submission/
*.zip
# IDE
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
# Env
.env
